@model HealthCare.API.Data.Entities.PatientPhoto
@{
    ViewData["Title"] = "ConverttoRGB";
}

<h1>ConverttoRGB</h1>

<div class="col-md-2">
    <img src="@Model.ImageFullPath" style="width: 200px; height: 200px; border-radius: 150px;" />
</div>